<!DOCTYPE html>
<html>

    <head>
        <title>Scuccess</title>
        <meta charset='UTF-8'>
        {% load static %}
        <link rel="stylesheet" href="{% static 'login_registration/css/style2.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>

    <body>
        <div id='wrapper'>

            <div id='row1'>
                    <h1>Success! Welcome, {{user.first_name}} {{user.last_name}}!</h1>
                    <p>Successfully registered (or logged in)!</p>
            </div>

            <form action="/login_registration/logout" method="post">
                {% csrf_token %}
                <input type='submit' name='password' value='Log Out'>
            </form>
            
        </div>
       
    </body>

</html>